
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    @Html.Partial("~/Views/Shared/TitleLogo.cshtml")
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Edit Block</title>

    <!--Core CSS -->
    <link href="~/Content/side-bar/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/side-bar/css/bootstrap-reset.css" rel="stylesheet">
    <link href="~/Content/side-bar/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!--dynamic table-->
    <link href="~/Content/side-bar/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="~/Content/side-bar/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/side-bar/js/data-tables/DT_bootstrap.css" />

    <!-- Custom styles for this template -->
    <link href="~/Content/side-bar/css/style.css" rel="stylesheet">
    <link href="~/Content/side-bar/css/style-responsive.css" rel="stylesheet" />

</head>

<body ng-app="RootApp">

    <section id="container">
        <!--header start-->
        <div id="login-container">@Html.Partial("~/Views/Shared/TraderPartial.cshtml")</div>        
        <!--header end-->
        <!--sidebar start-->
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <div id="trader-content" ng-app="Open" ng-controller="EditBlock">
                <section class="wrapper">
                    <!-- page start-->
                    <div class="row" style="z-index:0">
                        <header class="panel-heading">
                            Edit Block
                        </header>
                        <br />

                        <div class="form">
                            <form class="cmxform form-horizontal " id="signupForm" method="get" action="">
                                <div class="form-group ">
                                    <label for="blockid" class="control-label col-lg-2">Block ID</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="blockid" name="blockid" type="text" required value={{block.blockId}} ng-model="block.blockId" readonly/>
                                    </div>
                                    <label for="status" class="control-label col-lg-2">Status</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="status" name="status" type="text" required value={{block.blockStatus}} ng-model="block.blockStatus" readonly/>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                                <div class="form-group ">
                                    <label for="symbol" class="control-label col-lg-2">Symbol</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="symbol" name="symbol" type="text" required value={{block.symbol}} ng-model="block.symbol" readonly/>
                                    </div>
                                    <label for="side" class="control-label col-lg-2">Side</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="side" name="side" type="text" required value={{block.side}} ng-model="block.side" readonly/>
                                    </div>

                                    <div class="col-lg-2"></div>
                                </div>
                                <div class="form-group ">
                                    <label for="limitprice" class="control-label col-lg-2">Limit Price</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="limitprice" name="limitprice" type="text" required value={{block.price}} ng-model="block.price" />
                                    </div>
                                    <label for="stopprice" class="control-label col-lg-2">Stop Price</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="stopprice" name="stopprice" type="text" required value={{block.stopPrice}} ng-model="block.stopPrice" />
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                                <div class="form-group ">
                                    <label for="openquantity" class="control-label col-lg-2">Open Quantity</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="openquantity" name="openquantity" type="text" required value={{block.openQuantity}} ng-model="block.openQuantity" readonly/>
                                    </div>
                                    <label for="allocatedquantity" class="control-label col-lg-2">Allocated Quantity</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="allocatedquantity" name="allocatedquantity" type="text" required value={{block.executedQuantity}} ng-model="block.executedQuantity" readonly/>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="z-index:0">
                        <div class="col-sm-12">
                            <section class="panel">
                                <div class="panel-body" style="background-color:#f1f2f7">
                                    <div>
                                        <table class="display table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Order ID</th>
                                                    <th>Portfolio ID</th>
                                                    <th>Symbol</th>
                                                    <th>Side</th>
                                                    <th>Price</th>
                                                    <th>Open Qty</th>
                                                    <th>Executed Qty</th>
                                                    <th>Total Qty</th>
                                                    <th>Status</th>
                                                    <th>Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="" ng-repeat="G in BlockOrders">
                                                    <td>{{G.orderId}}</td>
                                                    <td>{{G.portfolioId}}</td>
                                                    <td>{{G.symbol}}</td>
                                                    <td>{{G.side}}</td>
                                                    <td>{{G.price}}</td>
                                                    <td>{{G.openQuantity}}</td>
                                                    <td>{{G.executedQuantity}}</td>
                                                    <td>{{G.totalQuantity}}</td>
                                                    <td>{{G.orderStatus}}</td>


                                                    <td> <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" ng-click="RemoveOrder(G)">Remove </button></td>


                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="btn-group" style="float:right;">


                                    <button class="btn btn-primary" ng-click="save(block)">
                                        Save Changes <i class="fa fa-check"></i>
                                    </button>
                                </div>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Confirm Remove</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Stock Detail</h3>
                                                <div class="space15"></div>
                                                <label>OrderId : </label> <label>{{O.orderId}}</label> <br />
                                                <label>Symbol : </label><label>{{O.symbol}}</label> <br />
                                                <label>Quantity : </label><label>{{O.totalQuantity}}</label> <br />

                                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-controller="DeleteController" ng-click="confirmDelete(O.orderId)">Remove <i class="fa fa-times"></i></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </section>

                        </div>
                    </div>
                    <!-- page end-->
                </section>
            </div>
        </section>
        <!--main content end-->

    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="~/Content/side-bar/js/jquery.js"></script>
    <script src="~/Content/side-bar/bs3/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/side-bar/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/side-bar/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/side-bar/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="~/Content/side-bar/js/jquery.nicescroll.js"></script>
    <!--Easy Pie Chart-->
    <script src="~/Content/side-bar/js/easypiechart/jquery.easypiechart.js"></script>
    <!--Sparkline Chart-->
    <script src="~/Content/side-bar/js/sparkline/jquery.sparkline.js"></script>

    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="~/Content/side-bar/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Content/side-bar/js/data-tables/DT_bootstrap.js"></script>
    <!--common script init for all pages-->
    <script src="~/Content/side-bar/js/scripts.js"></script>

    <!--dynamic table initialization -->


</body>
</html>
