



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>My Portfolios</title>

    <!--Core CSS -->
    <link href="/Content/side-bar/bs3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/side-bar/css/bootstrap-reset.css" rel="stylesheet" />
    <link href="/Content/side-bar/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/side-bar/js/data-tables/DT_bootstrap.css" rel="stylesheet" />
    @Html.Partial("~/Views/Shared/TitleLogo.cshtml")

    <!-- Custom styles for this template -->
    <link href="/Content/side-bar/css/style.css" rel="stylesheet" />
    <link href="/Content/side-bar/css/style-responsive.css" rel="stylesheet" />
  
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="RootApp">

    <section id="container">
        <!--header start-->
        @Html.Partial("~/Views/Shared/PMPartial.cshtml")
        <!-- sidebar menu end-->
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <div id="pm-content" ng-app="UiApp" ng-controller="PortFolioController">
                <section class="wrapper">
                    <!-- page start-->

                    <div class="row" style="z-index:0">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    My Portfolios
                                </header>
                                <div class="panel-body" style="background-color:#f1f2f7">
                                    <div class="adv-table editable-table ">
                                        <div class="clearfix">

                                            <div class="btn-group pull-right">

                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="#">Print</a></li>
                                                    <li><a href="#">Save as PDF</a></li>
                                                    <li><a href="#">Export to Excel</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="space15"></div>
                                        <div>
                                            <table class="table table-striped table-hover table-bordered" id="editable-sample" >
                                                <thead>
                                                    <tr>
                                                        <th>Portfolio ID</th>
                                                        <th>Portfolio Name</th>
                                                        <th>Portfolio Type</th>
                                                        <th>Portfolio Description</th>
                                                        <th>Show Stocks</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="" ng-repeat="portfolio in Portfolios">

                                                        <td>{{portfolio.portfolioId}}</td>
                                                        <td>{{portfolio.portfolioName}}</td>
                                                        <td>{{portfolio.type}}</td>
                                                        <td>{{portfolio.description}}</td>
                                                        <td> <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" ng-click="addOrder(portfolio.portfolioId)">Show <i class="fa fa-info-circle"></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <!--Modal start-->

                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">My Portfolio</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <h3>Stock List</h3>
                                                    <div class="space15"></div>
                                                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                                        <thead>
                                                            <tr>
                                                                <th>Symbol</th>
                                                                <th>Side</th>
                                                                <th>Quantity</th>
                                                                <th>Price</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="" ng-repeat="order in Orders">
                                                                <td>{{order.symbol}}</td>
                                                                <td>{{order.side}}</td>
                                                                <td>{{order.totalQuantity}}</td>
                                                                <td>{{order.price}}</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- page end-->
                </section>
            </div>
        </section>
        <!--main content end-->
        <!--right sidebar start-->
        <div class="right-sidebar">
            <div class="right-stat-bar">
            </div>
        </div>
        <!--right sidebar end-->

    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="/Content/side-bar/js/jquery-1.8.3.min.js"></script>
    <script src="/Content/side-bar/bs3/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/Content/side-bar/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/Content/side-bar/js/jquery.scrollTo.min.js"></script>
    <script src="/Content/side-bar/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="/Content/side-bar/js/jquery.nicescroll.js"></script>
    <!--Easy Pie Chart-->
    <script src="/Content/side-bar/js/easypiechart/jquery.easypiechart.js"></script>
    <!--Sparkline Chart-->
    <script src="/Content/side-bar/js/sparkline/jquery.sparkline.js"></script>
    <!--jQuery Flot Chart-->
    @*<script src="/Content/side-bar/js/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="/Content/side-bar/js/flot-chart/jquery.flot.resize.js"></script>
    <script src="/Content/side-bar/js/flot-chart/jquery.flot.pie.resize.js"></script>*@

    <script type="text/javascript" src="/Content/side-bar/js/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/Content/side-bar/js/data-tables/DT_bootstrap.js"></script>

    <!--common script init for all pages-->
    <script src="/Content/side-bar/js/scripts.js"></script>

    <!--script for this page only-->
    <script src="/Content/side-bar/js/table-editable.js"></script>

    <!-- END JAVASCRIPTS -->



    <!-- Visual Studio Browser Link -->
    @*<script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome","requestId":"659820197aa34b99a1b2be3ee6065378"}
    </script>*@
   @* <script type="text/javascript" src="http://localhost:50557/4acd29c0dc5b4819a05882e7592f2943/browserLink" async="async"></script>*@
    <!-- End Browser Link -->
    <!-- Visual Studio Browser Link -->
    @*<script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome","requestId":"c77ab50e5e0c4a31b73790f4ece9ec1d"}
    </script>*@
   @* <script type="text/javascript" src="http://localhost:49545/b364eb6f465c451ba069d3c80da144f3/browserLink" async="async"></script>*@
    <!-- End Browser Link -->

</body>
</html>
