
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Edit Market Data</title>

    <!--Broker Angular Scripts-->

    <!--Core CSS -->
    <link href="~/Content/side-bar/bs3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/side-bar/css/bootstrap-reset.css" rel="stylesheet" />
    <link href="~/Content/side-bar/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/side-bar/js/data-tables/DT_bootstrap.css" rel="stylesheet" />
    @Html.Partial("~/Views/Shared/TitleLogo.cshtml")

    <!-- Custom styles for this template -->
    <link href="~/Content/side-bar/css/style.css" rel="stylesheet" />
    <link href="~/Content/side-bar/css/style-responsive.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="RootApp">

    <section id="container">
        <!--header start-->        
        <!--header end-->
        <div id="login-container">@Html.Partial("~/Views/Shared/BrokerPartial.cshtml")</div> 
        <!-- sidebar menu end-->
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <div id="br-container">
                <section class="wrapper">
                    <!-- page start-->

                    <div class="row" style="z-index:0">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Edit Market Data
                                    <span class="tools pull-right">
                                    </span>
                                </header>
                                <div class="panel-body" style="background-color:#f1f2f7">
                                    <div class="form" ng-app="ApiApp" ng-controller="editCtrl">
                                        <form class="cmxform form-horizontal " id="signupForm" method="get" action="http://localhost:35986/Broker/BrokerUpdateMarketData" ng-submit="editted(data)">
                                            <div class="form-group ">
                                                <label for="securitysymbol" class="control-label col-lg-3">Security Symbol</label>


                                                <div class="col-lg-6">
                                                    <input ng-model="data.securitySymbol" class="form-control" id="securitysymbol" name="securitysymbol" type="text" required />

                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label for="securityname" class="control-label col-lg-3">Security Name</label>
                                                <div class="col-lg-6">
                                                    <input class="form-control" id="securityname" name="securityname" ng-model="data.securityName" type="text" required />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="tradeprice" class="control-label col-lg-3">Trade Price</label>
                                                <div class="col-lg-6">
                                                    <input class="form-control" id="tradeprice" name="tradeprice" ng-model="data.tradePrice" type="text" required />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="maxspread" class="control-label col-lg-3">Max Spread</label>
                                                <div class="col-lg-6">
                                                    <input class="form-control" id="maxspread" name="maxspread" ng-model="data.maxSpread" type="text" required />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="maxexecutedorders" class="control-label col-lg-3">Max Executed Orders</label>
                                                <div class="col-lg-6">
                                                    <input class="form-control" id="maxexecutedorders" name="maxexecutedorders" ng-model="data.maxExeOrder" type="text" required />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="maxinterval" class="control-label col-lg-3">Max Interval</label>
                                                <div class="col-lg-6">
                                                    <input class="form-control" id="maxinterval" name="maxinterval" ng-model="data.maxInterval" type="text" required />
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="percfullyexecuted" class="control-label col-lg-3">Perc. Fully Executed</label>
                                                <div class="col-lg-6">
                                                    <input class="form-control" id="percfullyexecuted" name="percfullyexecuted" ng-model="data.perFullyExe" type="text" required />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-lg-offset-5 col-lg-3">
                                                    <button class="btn btn-primary" type="button" ng-controller="saveCtrl" ng-click="save(data)" style="width:100px;">Save <i class="fa fa-check"></i></button><!--Write Save code-->

                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                    <!-- page end-->
                </section>
            </div>
        </section>
        <!--main content end-->
        <!--right sidebar start-->
        <div class="right-sidebar">
            <div class="right-stat-bar">
            </div>
        </div>
        <!--right sidebar end-->

    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="~/Content/side-bar/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/side-bar/bs3/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/side-bar/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/side-bar/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/side-bar/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="~/Content/side-bar/js/jquery.nicescroll.js"></script>
    <!--Easy Pie Chart-->
    <script src="~/Content/side-bar/js/easypiechart/jquery.easypiechart.js"></script>
    <!--Sparkline Chart-->
    <script src="~/Content/side-bar/js/sparkline/jquery.sparkline.js"></script>
    <!--jQuery Flot Chart-->
    @*<script src="~/Content/side-bar/js/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/side-bar/js/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/Content/side-bar/js/flot-chart/jquery.flot.pie.resize.js"></script>*@

    <script type="text/javascript" src="~/Content/side-bar/js/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Content/side-bar/js/data-tables/DT_bootstrap.js"></script>

    <!--common script init for all pages-->
    <script src="~/Content/side-bar/js/scripts.js"></script>

    <!--script for this page only-->
    

    <!-- END JAVASCRIPTS -->
  

</body>
</html>

