
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Market Data</title>


    <!--Broker Angular Scripts-->
   @Html.Partial("~/Views/Shared/TitleLogo.cshtml")

    @*<script src="~/Scripts/angular-route.js"></script>*@
  

    <!--Core CSS -->
    <link href="~/Content/side-bar/bs3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/side-bar/css/bootstrap-reset.css" rel="stylesheet" />
    <link href="~/Content/side-bar/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/side-bar/js/data-tables/DT_bootstrap.css" rel="stylesheet" />
    

    <!-- Custom styles for this template -->
    <link href="~/Content/side-bar/css/style.css" rel="stylesheet" />
    <link href="~/Content/side-bar/css/style-responsive.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="RootApp">

    <section id="container">
        <!--header start-->        
        <!--header end-->
        <div id="login-container">@Html.Partial("~/Views/Shared/BrokerPartial.cshtml")</div> 
        <!-- sidebar menu end-->
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <div id="br-container" ng-app="ApiApp" ng-controller="SecurityController">
                <section class="wrapper">
                    <!-- page start-->

                    <div class="row" style="z-index:0">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Market Data
                                </header>
                                <div class="panel-body" style="background-color:#f1f2f7">
                                    <div class="btn-group">
                                        <button id="markettableadd" class="btn btn-primary" onclick="location.href = 'http://localhost:35986/Broker/BrokerAddMarketData';">
                                            Add New <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <div class="adv-table">
                                        <br />
                                        <table class="display table table-bordered table-striped" id="dynamic-table">
                                            <thead>
                                                <tr>
                                                    <th>Security Symbol</th>
                                                    <th>Security Name</th>
                                                    <th>Trade Price</th>
                                                    <th>Max Spread</th>
                                                    <th>Max Exe Orders</th>
                                                    <th>Max Interval</th>
                                                    <th>Perc. Fully Executed</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="sec in securities" class="">

                                                    <td>{{sec.securitySymbol}}</td>
                                                    <td>{{sec.securityName}}</td>
                                                    <td>{{sec.tradePrice}}</td>
                                                    <td>{{sec.maxSpread}}</td>
                                                    <td>{{sec.maxExeOrder}}</td>
                                                    <td>{{sec.maxInterval}}</td>
                                                    <td>{{sec.perFullyExe}}</td>

                                                    @*<td><a  href="BrokerEditMarketData" ng-click="Edit(sec)">Edit</a></td>
    <td><a class="btn btn-primary btn-xs" ng-init="url= 'http://localhost:35986/Broker/BrokerEditMarketData/'" ng-href="{{url}}{{sec.securityId}}">Edit</a></td>
                                                    *@
                                                    <td><a ng-controller="GetTokenController" class="btn btn-primary btn-xs" ng-init="url= 'http://localhost:35986/Broker/BrokerEditMarketData/'" ng-href="{{url}}{{token}}/{{sec.securityId}}">Edit</a></td>
    @*<td> <button type="button" class="btn btn-primary btn-xs" ng-click="Edit(sec)">Edit </button></td>*@
                                                    @*<td>                                                    <a class="btn btn-primary btn-xs"s
                                                   href="http://localhost:35986/Broker/BrokerEditMarketData" ng-click="callToAddToMarketList(sec)">Edit</a>
                                                @*<button type="button" class="btn btn-primary btn-xs" ng-controller="EditPutController" ng-click="callToAddToMarketList(sec)">Edit </button>
                                            </td>*@
                                                    <td> <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" ng-click="del(sec)">Remove </button></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="modal fade" id="myModal" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Confirm Remove</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h3>Stock Detail</h3>
                                                        <div class="space15"></div>
                                                        <label>Symbol : </label> <label>{{security.securitySymbol}}</label> <br />
                                                        <label>Name : </label><label>{{security.securityName}}</label> <br />
                                                        <label>Price : </label><label>{{security.tradePrice}}</label> <br />

                                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-controller="DeleteSecurityController" ng-click="confirmDelete(security.securityId)">Remove <i class="fa fa-times"></i></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </section>

                        </div>
                    </div>
                    <!-- page end-->
                </section>
            </div>
        </section>
        <!--main content end-->
        <!--right sidebar start-->
        <div class="right-sidebar">
            <div class="right-stat-bar">
            </div>
        </div>
        <!--right sidebar end-->

    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="~/Content/side-bar/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/side-bar/bs3/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/side-bar/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/side-bar/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/side-bar/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="~/Content/side-bar/js/jquery.nicescroll.js"></script>
    <!--Easy Pie Chart-->
    <script src="~/Content/side-bar/js/easypiechart/jquery.easypiechart.js"></script>
    <!--Sparkline Chart-->
    <script src="~/Content/side-bar/js/sparkline/jquery.sparkline.js"></script>
    <!--jQuery Flot Chart-->
    

    <script type="text/javascript" src="~/Content/side-bar/js/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Content/side-bar/js/data-tables/DT_bootstrap.js"></script>

    <!--common script init for all pages-->
    <script src="~/Content/side-bar/js/scripts.js"></script>

    <!--script for this page only-->
    <!-- END JAVASCRIPTS -->
    
</body>
</html>
